@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-slate-100);
  color: var(--color-slate-900);
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
